[Unit]
Description=Run Impersia email alerts every minute

[Timer]
OnCalendar=*:*:00
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
